table {
    margin-top: 50px;
}

ul {
    list-style-type: none;
    display: flex;

    li {
        padding: 5px;
    }

    .delete {
        padding: none;
        border: none;
        background: transparent;
        cursor: pointer;
    }

}