table {
    margin-top: 50px;
    border: 1px solid green;


    th,
    td {
        border: 1px solid green;
    }

    .action-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

ul {
    list-style-type: none;
    display: flex;

    li {
        padding: 5px;
    }

    .delete {
        padding: none;
        border: none;
        background: transparent;
        cursor: pointer;
    }

}